* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1.3rem;
    line-height: 1;
    color: rgb(1, 36, 1);
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.video {
    width: 100%;
    height: 100vh;
    position: relative;
}

.video__media {
    width: 100%;
    position: absolute;
}

.header__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid red;
}

.leang {
    position: relative;
    width: 10%;
    text-align: center;
    border: 1px solid white;
    background:rgba(103, 153, 2, 0.399);
}

.menu-dropdown {
    position: absolute;
    width: 100%;
    display: none;
    padding: 0 10%;
    border: 2px solid green;
}

.leang:hover .menu-dropdown {
    display: block;
}

.menu-dropdown__item {
    width: 100%;
    padding: 0 6%;
    background: rgba(103, 153, 2, 0.399);
}

.booking {
    display: flex;
    flex-direction: row;
    padding-right: 7%;
    border: 2px solid gold;
}

.booking__hotel {
    padding-right: 75%;
}

.main {
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(180deg, rgba(100, 106, 4, 0.8), rgba(79, 186, 248, 0.2) ) ;
}

.description__option {
    padding: 0 30%;
}

.wrapper {
    position: absolute;
    width: 100%;
    margin: 10% auto;
    padding: 0 15%;;
    padding-top: 15%;
    line-height: 1.5rem;
}

.wrapper label {
    cursor: pointer;
    float: left;
    margin-right: 5px;
    display: block;
    padding: 10px 40px 5px;
    background-color: #48c6e5;
    border-radius: 20px 20px 0 0;
}

.wrapper input {
    display: none;
}

.wrapper input:checked+label {
    background-color: #97f023;
    color: #2c3e50;
}

.wrapper input[id="tab-1"]:checked~.content .tab-1,
.wrapper input[id="tab-2"]:checked~.content .tab-2,
.wrapper input[id="tab-3"]:checked~.content .tab-3, 
.wrapper input[id="tab-4"]:checked~.content .tab-4, 
.wrapper input[id="tab-5"]:checked~.content .tab-5 {
    display: block;
}

.wrapper .content {
    clear: both;
    position: relative;
}

.wrapper article {
    width: 100%;
    padding: 70px 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #9ee5f7;
    display: none;
    min-height: 200px;
    border-top: 5px solid #97f023;
    border-radius: 0 10px 10px 10px;
}
